*.sql linguist-detectable

sql/compare_json_to_postgres_standalone.sql linguist-language=SQL
sql/db_setup.sql linguist-language=SQL
sql/mapping_details.sql linguist-language=SQL
sql/test_stored_function.sql linguist-language=SQL
sql/test_stored_function_json_mapping.sql linguist-language=SQL
